@charset "utf-8";
/* CSS Document */

/* General */

*{
	font-weight: normal;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-align: center;
	
}

body{
	min-width: 800px;
}

/* Sections */

section{
	padding: 0% 2%;
}

section p{
	line-height: 1.5;
}

.p-italic{
	font-style: italic;
	animation: fadein-p .5s;
}

p{
	font-family: roboto slab;
	color: gray;
	font-size: 20px;
	
}

@keyframes fadein-p{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/* Forms */

@keyframes fadeinForm{
	0%{opacity: 0}
	33%{opacity: 0}
	100%{opacity: 1}
}

/* Headings */

h1{
	font-style: italic;
	font-size: 42px;
}

h2{
	padding: 90px 0px 10px 0px;
	font-weight: bold;
	font-size: 40px;
	animation: fadein .25s;
}


h3{
	font-size: 24px;
	font-weight: bold;
	padding: 15px 0px;
}

h4{
	font-family: montserrat;
	font-weight: bold;
	color: white;
	font-size: 40px;
	padding-top: 90px;
	padding-bottom: 20px;
	animation: fadein .25s;
}

@keyframes fadein{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Menu */

#homeHeader{
	background-image: url(https://clone-webpage.s3.amazonaws.com/images/header-bg.jpg);
	padding-bottom: 200px;
	background-size: cover;
	background-position: center;
}

nav ul{
	list-style: none;
}

#Studio-tab{
	padding-top: 20px;
	float: left;
	color: #fed136;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 24px;
	animation: none;
}

.right-alignMenu{
	float: right;
}

#homeMenu{
	background-color: transparent;
}

.barMenu{
	overflow: hidden;
	padding: 0 10%;
	background-color: black;
}

.barMenu a{
	text-align: center;
	text-decoration: none;
	color: #f8f9fa;
	font-family: montserrat;
}

.barMenu a:hover{
	color: #fed136;
	animation: hoverMenu .25s;
}

.barMenu a:not(:hover){
	color: #f8f9fa;
	animation: nothoverMenu .25s;
}

.right-alignMenu a{
	float: left;
	padding: 25px 15px 20px 15px;
}

@keyframes hoverMenu{
	from{
		color: #f8f9fa;
	}
	to{
		color: #fed136;
	}
}

@keyframes nothoverMenu{
	from{
		color: #fed136;
	}
	to{
		color: #f8f9fa;
	}
}

.greetingMsg{
	padding-top: 200px;
	color: white;
	text-align: center;
}

@keyframes fadeinGreeting{
	from{opacity: 0}
	to{opacity: 1}
}

article{
	font-family: montserrat;
	text-align: center;
}

/*-- Welcome message --*/

.greetingMsg h1{
	animation: fadeinGreeting .50s;
}

.greetingMsg p{
	font-family: montserrat;
	color: white;
	font-size: 72px;
	font-weight: bold;
	padding: 40px 0px;
	animation: fadeinGreeting .66s;
}

.greetingMsg button{
	animation: fadeinGreeting 1s;
}

/*-- Button --*/

button{
	color: white;
	font-weight: bold;
	font-family: montserrat;
	font-size: 18px;
	text-decoration: none;
	padding: 20px 35px;
	border-radius: 4px;
	border-style: none;
	background-color: #fed136;
 }

button:hover{
	animation: changeButtonColor .25s;
	background-color: orange;
}

button:not(:hover){
	animation: changeButtonColorBack .25s;
	background-color: #fed136;
}

@keyframes changeButtonColor{
	from{
		background-color: #fed136;
	}
	
	to{
		background-color: orange;
	}
}

@keyframes changeButtonColorBack{
	from{
		background-color: orange;
	}
	
	to{
		background-color: #fed136;
	}
}

/*-- Article --*/



article p{
	padding-bottom: 50px;
}



/*-- Sections --*/

section{
	animation: fadeinArticle .75s;
}

@keyframes fadeinArticle{
	0%{opacity: 0}
	66%{opacity: 0}
	100%{opacity: 1}
}
.Services{
	display: flex;
	padding: 0% 10%;
}



/*-- Portfolio --*/

#portfolioArticle{
	background-color: whitesmoke;
	padding: 0 10%;
}

.portfolioSection{
	background-color: white;
	display: block;
	margin: auto;
	padding: 0px;
	width: 32%;
}

#portfolioTop{
	display: flex;
	padding: 10px;
}

#portfolioBottom{
	display: flex;
	padding: 10px 10px 100px;
	
}

.portfolioSection img{
	width: 100%;
	cursor: pointer;
}

.portfolioSection p{
	margin: -20px 0;
}

/*-- Large Images --*/

.largeImages{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.75);
}

/*-- Close Button on Large Images --*/

.closeImage{
	font-size: 50px;
	font-weight: bolder;
	float: right;
	color: white;
	padding-right: 5%;
	cursor: pointer;
}

/*-- About --*/
#aboutArticle div{
	margin: auto;
}
#line-images{
	border: 1px solid lightgray;
	position: absolute;
	height: 1600px;
	width: 0;
}

.aboutImageBox{
	animation: fadeinAboutImage .75s;
	position: absolute;
}

@keyframes fadeinAboutImage{
	0%{opacity: 0}
	50%{opacity: 0}
	100%{opacity: 1}
}

.aboutBlock{
	display: flex;
	height: 400px;
	justify-content: center;
}
#aboutArticle img{
	border: thick solid lightgray;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}


#aboutEndMessage{
	display: flex;
	width: 70px;
	height: 70px;
	border: thick solid lightgray;
	border-radius: 50%;
	background: #fed136;
	margin: 0 auto 100px;
	font-family: montserrat;
	font-weight: bold;
	font-size: 17px;
	color: white;
	padding: 40px 40px;
}

.textLeft{
	max-width: 350px;
	padding-right: 600px;
}

.textLeft h3{
	text-align: right;
	padding-top: 0px;
}

.textLeft p{
	 text-align: right;
}


.textRight{
	max-width: 350px;
	padding-left: 600px;
}

.textRight h3{
	text-align: left;
	padding-top: 0px;
}

.textRight p{
	text-align: left;
}

/*-- Team --*/

#teamArticle div{
	display: flex;
	justify-content: center;
}

#teamArticle section{
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#teamArticle p{
	padding-bottom: 0;
}

.teamProfilePictures{
	width: 200px;
	border-radius: 50%;
	border: thick solid lightgray;
	margin-top: 50px;
}

#teamBottomParagraph{
	margin: 50px 23% 100px;
}

/*-- Contact --*/

#contactMain{
	height: 700px;
	width: 100%;
	background-image: url('https://clone-webpage.s3.amazonaws.com/images/map-image.png');
	background-color: #212529;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

/*-- Forms --*/

#contactMain button{
	margin: 0 40%;
	min-width: 220px;
	animation: fadeinForm 1.75s;
}

#contactForm{
	margin: 60px 10%;
	animation: fadeinForm 1.5s;
}

#contactForm input, textarea{
	width: 90%;
	text-align: left;
	padding-left: 25px;
	font-family: montserrat;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px; 
	border: none;
}

#contactInputLeft{
	float: left;
	width: 50%;
}

#contactInputLeft input{
	height: 70px;
	margin: 0 0 20px;
	
}

#contactInputRight{
	float: right;
	width: 50%;
}

#contactMessage{
	height: 230px;
	padding-top: 20px;
	padding-right: 25px;
	resize: none;
	width: 85%;
}

/*-- Footer --*/

footer{
	font-family: montserrat;
	text-align: center;
	font-size: 14px;
}

.borderedFooter{
	border-top: 2px solid #212529;
}

footer p{
	float: left;
	font-family: montserrat;
	font-size: 14px;
	color: #212529;
	padding: 30px 0% 30px 10%;
}

footer a{
	padding: 0 10px;
	text-decoration: none;
	color: #fed136;
}

.footerLinks{
	float: right;
	padding: 30px 10% 30px 0%;
}

