@charset "utf-8";
/* CSS Document */

/* General */

*{
	font-weight: normal;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-align: center;
	
}

body{
	min-width: 800px;
}

/* Sections */

section{
	padding: 0% 2%;
}

section p{
	line-height: 1.5;
}

.p-italic{
	font-style: italic;
}

p{
	font-family: roboto slab;
	color: gray;
	font-size: 20px;
}

/* Headings */

h1{
	font-style: italic;
	font-size: 42px;
}

h2{
	padding: 90px 0px 10px 0px;
	font-weight: bold;
	font-size: 40px;
}

h3{
	font-size: 24px;
	font-weight: bold;
	padding: 15px 0px;
}

h4{
	font-family: montserrat;
	font-weight: bold;
	color: white;
	font-size: 40px;
	padding-top: 90px;
	padding-bottom: 20px;
}

/* Menu */

#homeHeader{
	background-image: url(https://clone-webpage.s3.amazonaws.com/images/header-bg.jpg);
	padding-bottom: 200px;
	background-size: cover;
	background-position: center;
}

nav ul{
	list-style: none;
}

.barMenu{
	background-color: black;
}

#Studio-tab{
	color: #fed136;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 24px;
}

.right-alignMenu{
	float: right;
}

.menu{
	overflow: hidden;
	padding: 0 5%;
}

.menu li{
	float: left;
	padding: 25px 15px 20px 15px;
}

.menu a{
	text-align: center;
	text-decoration: none;
	color: #f8f9fa;
	font-family: montserrat;
}

.greetingMsg{
	padding-top: 200px;
	color: white;
	text-align: center;
}

article{
	font-family: montserrat;
	text-align: center;
}

/*-- Welcome message --*/


.greetingMsg p{
	font-family: montserrat;
	color: white;
	font-size: 72px;
	font-weight: bold;
	padding: 40px 0px
}

button{
	color: white;
	font-weight: bold;
	font-family: montserrat;
	font-size: 18px;
	text-decoration: none;
	padding: 20px 35px;
	border-radius: 4px;
	border-style: none;
	background-color: #fed136;
 }

/*-- Article --*/
article p{
	padding-bottom: 50px;
}



/*-- Sections --*/


.Services{
	display: flex;
	padding: 0% 10%;
}



/*-- Portfolio --*/

#portfolioArticle{
	background-color: whitesmoke;
	padding: 0 10%;
}

.portfolioSection{
	background-color: white;
	display: block;
	margin: auto;
	padding: 0px;
	width: 32%;
}

#portfolioTop{
	display: flex;
	padding: 10px;
}

#portfolioBottom{
	display: flex;
	padding: 10px 10px 100px;
	
}

.portfolioSection img{
	width: 100%;
}

.portfolioSection p{
	margin: -20px 0;
}

/*-- About --*/
#aboutArticle div{
	height: 400px;
}

.aboutImageBox{
	
}
.aboutBlock{
	display: flex;
	flex-direction: column;
}
#aboutArticle img{
	margin: auto;
	border: thick solid lightgray;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

#aboutArticle section{
	display: flex;
	flex-direction: column;
}


#aboutEndMessage{
	display: block;
	
	width: 150px;
	border: thick solid lightgray;
	border-radius: 50%;
	background: #fed136;
	margin: 0 auto 100px;
}

#aboutEndMessage p{
	text-align: center;
	font-family: montserrat;
	font-weight: bold;
	color: white;
	padding: 39px 21px;
	margin: 0;
}

.textLeft{
	position: absolute;
	padding: 0 200px 0 0;
	float: left;
	max-width: 350px;
	margin: 0 45% 0 20%;
}

.textLeft h3{
	text-align: right;
	padding-top: 0px;
}

.textLeft p{
	 text-align: right;
}


.textRight{
	position: absolute;
	padding: 0 0 0 200px;
	float: right;
	max-width: 350px;
	margin: 0 20% 0 45%;
}

.textRight h3{
	text-align: left;
	padding-top: 0px;
}

.textRight p{
	text-align: left;
}

/*-- Team --*/

#teamArticle div{
	display: flex;
	justify-content: center;
}

.teamProfilePictures{
	width: 200px;
	border-radius: 50%;
	border: thick solid lightgray;
}

#teamBottomParagraph{
	margin: 0 23%;
}

/*-- Contact --*/

#contactMain{
	height: 700px;
	width: 100%;
	background-image: url('https://clone-webpage.s3.amazonaws.com/images/map-image.png');
	background-color: #212529;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

/*-- Forms --*/

#contactMain button{
	margin: 0 40%;
	min-width: 220px;
}

#contactForm{
	margin: 60px 10%;
}

#contactForm input{
	width: 90%;
	text-align: left;
	padding-left: 25px;
	font-family: montserrat;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px; 
	border: none;
}

#contactInputLeft{
	float: left;
	width: 50%;
}

#contactInputLeft input{
	height: 70px;
	margin: 0 0 20px;
	
}

#contactInputRight{
	float: right;
	width: 50%;
}

#contactMessage{
	height: 250px;
	
}

/*-- Footer --*/

footer{
	font-family: montserrat;
	text-align: center;
	font-size: 14px;
}

.borderedFooter{
	border-top: 2px solid #212529;
}

footer p{
	float: left;
	font-family: montserrat;
	font-size: 14px;
	color: #212529;
	padding: 30px 0% 30px 10%;
}

footer a{
	padding: 0 10px;
	text-decoration: none;
	color: #fed136;
}

.footerLinks{
	float: right;
	padding: 30px 10% 30px 0%;
}

